
body{
    background-color: aqua;
}

a{
    text-decoration: none;

}
#zk{
    /*border: crimson 1px solid;*/
    width: 100%;
    height: 900px;
    position: relative;
}
#zuo1{
    width: 309px;
    height: 492px;
    float: right;
    /*left: 100px;*/
}
#z1{
    position: relative;
    display: flex;
    width: 800px;
    height: 800px;
    float: right;
    border: crimson 2px solid;
}
#zx{
    border: snow 3px solid;
    border-radius: 200px;
    width: 400px;
    height: 400px;
    position: absolute;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-left: 150px;
    margin-top: 150px;
}
#gl{
    position: relative;
    width: 140px;
    height: 80px;
    color: snow;
    font-size: 30px;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 40px;
}
#gl2{
    position: absolute;
    width: 369px;
    height: 150px;
    border-bottom: #EBEBEB 6px solid;
    border-top:#EBEBEB 6px solid;
    top: 115px;
    right: 14px;
    margin: 0;
}
#gl21{
    display: flex;
}



#yxgl {
    display: flex;
    margin-left: 160px;
    font-weight: bolder;
    font-size: 23px;
    top:200px;
}
#bz{
    font-weight: bolder;
    font-size: 23px;
    top:200px;
}
#tc{
    margin-top: 300px;
    margin-left: -125px;
}
#xz{
    margin-left: 160px;
    margin-top: 110px;
}
#yxxz{
    margin-left: 150px;
    font-weight: bold;
    font-size: 18px;
}
#xgl{
    margin-left: 80px;

    margin-top: 50px;
}
#ss{
    font-weight: bold;
    font-size: 18px;
    margin-left: 70px;
}
#kt{
    margin-left: 60px;
    margin-top: 70px;
}
#kt2{
    font-weight: bold;
    font-size: 21px;
    margin-left: 70px;
}
#tdzj{
    display: flex;
    position: absolute;
    left: 90px;
    top: 500px;
}
#tdzj2{
    font-weight: bold;
    font-size: 21px;
    margin-left: 80px;
    margin-top: 70px;
}
#xw{display: flex;
    position: absolute;
    right: 250px;
top:100px;
}
#xw2{
    font-weight: bold;
    font-size: 21px;
  margin-top: -400px;
    margin-left: 500px;
}



